
{% extends "base/base.html" %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">
<div class="container-detail">
    <h1 class="h1">Edit Board</h1>
    <form action="{% url 'posts:board_update' board.id %}" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <a href="{% url 'posts:board_detail' board.id %}" class="btn btn-danger btn-md aButton">Cancel</a>
      <input id="save_board" class="btn btn-success btn-md aButton" type="submit" value="Save" />
    </form>
</div>
</div>

{% endblock %}

